@import url('https://fonts.googleapis.com/css2?family=Hina+Mincho&display=swap');

* {
    font-family: 'Hina Mincho', serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: black;
}

li, a, button {
    font-weight: 500;
    font-size: 20px;
    color: white;
    text-decoration: none;
}

body {
    height: 100%;
}

header {
    display:flex;
    justify-content: flex-end;
    align-items: center;
    padding: 30px 10px;
}

.logo {
    cursor: pointer;
    width: 50px;
    margin-right: auto;
}

.nav__links {
    list-style: none;
}

.nav__links > li {
    display: inline-block;
    padding: 0px 20px;
}

.nav__links li a {
    transition: all 0.3s ease 0s;
}

.nav__links li a:hover {
    color: chartreuse;
}

button {
    padding: 9px 25px;
    background-color: blue;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

button:hover {
    background-color: darkblue;
}

main {
    display: flex;
    height: 100%;
}

section {
    width: 40%;
    height: 100%;
}

aside {
    width: 60%;
    height: 100%;
}